<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artyści</title>
</head>
<body>
<h1>Wszyscy artyści</h1>

<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Nick</th>
    </tr>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.id}">666</td>
        <td th:text="${artist.firstName}">Zenon</td>
        <td th:text="${artist.lastName}">Martyniuk</td>
        <td th:text="${artist.nick}">MusicDestroyer</td>
    </tr>
</table>
</body>
</html>